body{
    color: white;
  }
  
  /* Navigation Bar */
  header img {
    height: 70px;
    margin-left: 150px;
  }
  
  body{
    /* height: 125vh; */
    /* background-image: url('https://codetheweb.blog/assets/img/posts/style-a-navigation-bar-css/background.jpg'); */
    /* background-color: #030834;
    background-size: cover; */
    /* font-family: sans-serif; */
    margin-top: 80px;
    padding: 30px;
  }
  
  
  
  header{
    /* background-color: white; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
  }
  
  
  header img:first-child{
    margin-right: auto;
  }
  
  header *{
    display: inline;
  }
  
  header li{
    margin: 20px;
    color: white;
  }
  
  header li:last-child{
    margin-right: 150px;
  }
  
  header li a {
    color: white;
    text-decoration: none;
  }
  
  span {
    font-size: 50px;
    font-weight: bold;
    line-height: 200px;
    letter-spacing: 5px;
    font-family: Outfit;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    display: none;
    background-color: #1a3c59;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    /* width: 100%; */
    z-index: 1;
  }
  
  .dropdown-content a{
    color: white;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
    padding: 12px 16px;
  }
  
  .dropdown-content a:hover{
    background-color:  #251a59;
  }
  
  .dropdown:hover .dropdown-content{
    display: block;
  }
  
  .signout-button{
    width: 100px;
    height: 50px;
    border-radius: 50px;
    /* background-color: cadetblue; */
    background-color: #7dcfb6;
    border: none;
    cursor: pointer;
  }

  .signout-button:hover{
    background-color: #fbd1a2;
  }