.doctorDashboard{
    width: 900px;    
    margin: auto;
    padding: 10px;
    display: flex   ;
    flex-direction: column;
    min-height:90vh ;
}
.DoctorBlock{
    display: flex;
    flex-direction: row;
    align-self: start;
    justify-self: start;
    margin-bottom: 20px;
}
.buttons{
    display:flex;
    gap: 20%;
    justify-content: center;
    margin-bottom: 20px;
    
}
.DoctorUsername{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: aqua;
}
.btnUpload{
    height: 30%;
}
.patientContainer{
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    padding:5px;
    border-radius: 7px;
}
.patientContainer:hover{
    cursor: pointer;
}
.id,.username{
    flex:1;
}
.header{
    flex: 1;
    font: 1.4rem;
}
.patientHeadingContainer{
    display: flex;
    flex-direction: row;
    background-color: #007bff;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 7px;
}
.InferenceHandler{
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputUploadContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Or {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

.Or::before, .Or::after {
    content: '';
    flex: 3;
    border-bottom: 1px solid ;
}

.Or:not(:empty)::before {
    margin-right: .25em;
}

.Or:not(:empty)::after {
    margin-left: .25em;
}
.linkText{
    color: white;
    text-decoration: none;
}
.infectionsTable {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.infectionsTable .tableRow {
    display: table-row;
}

.infectionsTable .tableHeader, .infectionsTable .tableCell {
    display: table-cell;
    padding: 8px;
    text-align: left;
}

.infectionsTable .tableHeader {
    font-weight: bold;
}
