

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.Input::file-selector-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Input::file-selector-button:hover {
  background-color: #0056b3;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 3%;
}

.UploadImage {
  height: 100px;
}

.UploadText {
  font-size: 1.2rem;
}

.ImageDisplay {
  width: 300px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
